* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

h1 {
    font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
    order: 1;
}


.announce-panel {
    min-height: 5rem;
    width: 600px;
    height: 100px;
    color: var(--light1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms 500ms color 0ms 250ms;
    font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

.announce-panel.hit {
    font-size: clamp(1.25rem, 2vw + 1rem, 2rem);
    color: var(--accent1);
}

.game-announce.win {
    width: 90%;
    line-height: 4rem;
    font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
    color: var(--accent7);
    opacity: 1;
    margin-right: 0;
    text-align: center;
    order: 3;
}

.announce-panel.visible {
    opacity: 1;
    transition: opacity 500ms;
}

.play-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 4;
}

.play-area section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0;
}

.board,
.drag-board {
    /* width: 90vw;
    max-width: 450px;
    min-width: 300px;
    height: 90vw;
    max-height: 450px;
    min-height: 300px; */
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid var(--white);
    background-color: var(--sea-dark);
    position: relative;
}

/* .board div {
    z-index: -1;
} */

.draggable-ship {
    position: absolute;
    height: 45px;
    display: flex;
    background-color: var(--accent3);
    border: 1px solid var(--light3);
    z-index: 10;
    transform-origin: 22px 22px;
}

.draggable-ship.rotated {
    transform: rotate(90deg);
}

.draggable-ship .ship-part {
    background-color: transparent;
    border: 1px solid var(--light3);
    width: 44px;
    height: 44px;
    pointer-events: none;
}

.square,
.drag-square {
    border: 1px solid var(--dark4);
}

.square:hover {
    background-color: var(--sea-green);
    opacity: 0.5;
}

/* Disabled during drag and drop */
.square.no-hover:hover {
    background-color: transparent;
    opacity: 1;
}

.square:active {
    filter: brightness(1.2)
}

.own-board .square.ship {
/* .square.ship { */
    background-color: var(--sea-green);
    background-image: var(--background-gradient);
}

.square.miss {
    background-color: var(--light1);
}

.square.ship.hit {
    background-color: var(--sea-light);
}

.board-fleet {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sunk-fleet {
    margin-inline: auto;
    width: 500px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.ship-render {
    height: 40px;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--sea-light);
    border: 1px solid var(--light3);
}

.ship-part {
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.square.ship.hit {
    background-image: var(--hit-gradient);
}

.square.ship.tagged,
.square.ship.sunk {
    background-size: cover;
    background-repeat: no-repeat;
}

.own-board .square.ship.tagged.p {
    background-image: var(--background-gradient), url("../svg/beta-fish.svg");
}

.own-board .square.ship.hit.p.tagged,
.enemy-board .square.ship.hit.p.sunk,
.ship-render.p {
    background-image: var(--hit-gradient), url("../svg/beta-fish.svg");
}

.own-board .square.ship.tagged.s {
    background-image: var(--background-gradient), url("../svg/seahorse.svg");
}

.own-board .square.ship.hit.s.tagged,
.enemy-board .square.ship.hit.s.sunk,
.ship-render.s {
    background-image: var(--hit-gradient), url("../svg/seahorse.svg");
}

.own-board .square.ship.tagged.d {
    background-image: var(--background-gradient), url("../svg/goldfish.svg");
    background-position: right;
}

.own-board .square.ship.hit.d.tagged,
.enemy-board .square.ship.hit.d.sunk,
.ship-render.d {
    background-image: var(--hit-gradient), url("../svg/goldfish.svg");
    background-position: right;
}

.ship-render.d {
    background-position: center;
}

.own-board .square.ship.tagged.b{
    background-image: var(--background-gradient), url("../svg/pufferfish.svg");

}

.own-board .square.ship.hit.b.tagged,
.enemy-board .square.ship.hit.b.sunk,
.ship-render.b  {
    background-image: var(--hit-gradient), url("../svg/pufferfish.svg");
}


.own-board .square.ship.tagged.c {
    background-image: var(--background-gradient), url("../svg/octopus.svg");
}

.own-board .square.ship.hit.c.tagged,
.enemy-board .square.ship.hit.c.sunk,
.ship-render.c {
    background-image: var(--hit-gradient), url("../svg/octopus.svg");
}
