* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
}

/* .announce-panel h3 {
    border: 1px solid greenyellow;
    width: 100px;
    height: 50px;
} */



.announce-panel {
    /* border: 1px solid white; */
    min-height: 5rem;
    width: 500px;
    height: 100px;
    color: var(--accent5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms 500ms color 0ms 250ms;
    font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

.announce-panel.hit {
    font-size: clamp(1.25rem, 2vw + 1rem, 2rem);
    color: var(--accent1);
}

.game-announce.win {
    width: 100%;
    font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
    color: var(--accent);
    opacity: 1;
    margin-right: 0;
    text-align: center;
}

.announce-panel.visible {
    opacity: 1;
    transition: opacity 500ms;
    /* delay is second number gosh */
}

.play-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 200px;
    text-align: center;
    --hit-gradient: radial-gradient(transparent 30%, var(--dark3) 100%);
}

.play-area section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0;
}

.board {
    width: 90vw;
    max-width: 450px;
    min-width: 300px;
    height: 90vw;
    max-height: 450px;
    min-height: 300px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid var(--white);
    background-color: var(--dark3);
}

.square {
    border: 1px solid var(--dark4);
}

.square:hover {
    background-color: var(--accent2);
    opacity: 0.5;
}

.square:active {
    filter: brightness(1.2)
}

.own-board .square.ship {
/* .square.ship { */
    background-color: var(--accent);
}

.square.miss {
    background-color: var(--accent5);
}

/* .square.ship.hit {
    background-color: var(--accent1);
} */

/* .square.ship.sunk {
    filter: brightness(.4);
} */

.sunk-fleet {
    width: 600px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 5px;
}

.ship-render {
    flex-shrink: none;
    flex-grow: none;
    margin: 20px;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--light2);
    border: 1px solid var(--light3);
}

.ship-part {
    background-color: transparent;
    width: 40px;
    height: 40px;
    /* border: 1px solid var(--accent7); */
    /* background-color: var(--accent1); */
    /* filter: brightness(.7); */
}

.square.ship.hit {
    background-image: var(--hit-gradient);
}

.square.ship.tagged {
    background-size: cover;
    background-repeat: no-repeat;
}


.square.ship.tagged.p {
    background-image: url("../svg/crab-sweet.svg");
}

.square.ship.hit.p.tagged,
.ship-render.p {
    background-image: var(--hit-gradient), url("../svg/crab-sketch.svg");
}

.square.ship.tagged.s {
    background-image: url("../svg/narwhal-sweet.svg");
}

.square.ship.hit.s.tagged,
.ship-render.s {
    background-image: var(--hit-gradient), url("../svg/narwhal-front.svg");
}

.square.ship.tagged.d{
    background-image: url("../svg/blowfish-side.svg");
}

.square.ship.hit.d.tagged,
.ship-render.d  {
    background-image: var(--hit-gradient), url("../svg/blowfish-front.svg");
}


.square.ship.tagged.b {
    background-image: url("../svg/dolphin-sweet.svg");
}

.square.ship.hit.b.tagged,
.ship-render.b {
    background-image: var(--hit-gradient), url("../svg/dolphin-cheerful.svg");
    background-position: right;
}

.ship-render.b {
    background-position: center;
}

.square.ship.tagged.c {
    background-image: url("../svg/whale-sweet.svg");
    background-size: contain;

}

.square.ship.hit.c.tagged,
.ship-render.c {
    background-image: var(--hit-gradient), url("../svg/whale-front.svg");
    background-size: contain;
}
