/* Two player mode and media queries */
.turn-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: var(--dark1);
    border: 1px solid yellowgreen;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    place-items: center;
    gap: 10vh;
    padding-top: 20vh;
    display: none;
}

.turn-instructions {
    width: 60%;
    max-width: 800px;
}

.ready-button {
    min-width: max-content;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    width: 200px;
    display: inline-block;
    background-color: transparent;
    border: 3px var(--white) solid;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    transition: 400ms;
}

.ready-button:hover {
    background-color: var(--white);
    color: var(--black);
}
  
.ready-button:active {
    filter: brightness(2);
}

.turn-screen.visible {
    display: flex;
}

/* For mobile */
@media screen and (max-width: 600px) {
    html {
        min-height: 100%;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .play-area {
        overflow-y: auto;
        scroll-snap-type: y mandatory;
    }

    /* move to keyframe transition */
    .play-area section {
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
        display: none;
    }

    .play-area section.visible {
        display: flex;
    }

    /* main {
        width: 100vw;
        margin-bottom: 15vh;
    } */

    .announce-panel {
        width: 100vw;
        height: 3rem;
        line-height: 1.6rem;
        /* opacity: 1; */
    }

    .subtitle {
        display: none;
    }

    .board {
        height: 35vh;
        width: 35vh;
        min-height: 200px;
        min-width: 200px;
    }

    /* .play-area h2 {
        display: none;   
    }

    .play-area {
        row-gap: 4vh;
    } */
}

@media (hover: none) {
    .board {
        touch-action: pinch-zoom;
    }

}