/* Two player mode and media queries */
.turn-screen,
.start-screen {
    width: 100vw;
    min-height: 100%;
    z-index: 10;
    background-color: var(--dark1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    place-items: center;
    gap: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10vh;
    text-align: center;
}

.turn-screen {
    display: none;
}

.turn-instructions,
.directions {
    width: 85%;
    max-width: 800px;
    margin-inline: auto;
    color: var(--accent2);
}

.ship-subtitle {
    color: var(--accent6);
}


.start-screen {
    z-index: 20;
    display: block;
    padding-top: 5vh;
}

.start-title {
    font-size: 2.5rem;
}

.scope {
    background-image: url('../svg/scope.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.5rem;
    width: 5rem;
    margin-inline: auto;
}


.start-subtitle {
    color: var(--accent6);
}

.start-screen button,
.ship-screen button {
    font-size: 1rem;
    margin: 20px;
}

button {
    min-width: max-content;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    width: 200px;
    display: inline-block;
    background-color: transparent;
    border: 3px var(--white) solid;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    transition: 400ms;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}
  
button:active {
    filter: brightness(2);
}


.ship-screen {
    order: 2;
    text-align: center;
}


/* For mobile */
@media screen and (max-width: 600px) {
    html {
        min-height: 100%;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    html.dragging {
        overflow-y: hidden;
    }
    
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .title.hidden {
        display: none;
    } 

    .play-area {
        height: 95vh;
        margin-bottom: 5vh;
        width: 95vw;
        scroll-snap-align: start;
        flex-flow: column nowrap;
    }

    .play-area section {
        row-gap: 0px;
    }

    .board-fleet {
        flex-flow: row nowrap;
    }

    .sunk-fleet {
        margin-top: 0;
        margin-bottom: 0;
        height: 35vh;
        width: 85px;
        margin-left: 10px;
        flex-flow: column wrap;
        align-items: center;
        border: 1px solid var(--accent6)
    }

    .ship-part {
        background-color: transparent;
        width: 15px;
        height: 15px;
    }

    .announce-panel {
        width: 100vw;
        height: 1.5rem;
        line-height: 1.6rem;
        min-height: 3.5rem;
    }

    .subtitle {
        display: none;
    }

    .board {
        height: 35vh;
        width: 35vh;
        min-height: 200px;
        min-width: 200px;
    }

    .start-screen button,
    .ship-screen button,
    .game-announce button {
        width: 100px;
        padding: 20px 40px 20px 40px;
        margin-block: 20px;
    }

    .start-screen button,
    .ship-screen button {
        margin-inline: 10px;
    }

    .ship-screen {
        padding-top: 5vh;
        width: 95vw;
        height: 95vh;
    }


    .ship-screen button {
        display: inline-block;
    }

    .drag-board {
        height: 300px;
        width: 300px;
        margin-bottom: 2vh;
        margin-top: 3vh;
    }
    
    .draggable-ship.ship-render {
        height: 30px;
        position: absolute;
        transform-origin: 15px 15px;
    }

    .draggable-ship .ship-part {
        height: 30px;
        width: 30px;
    }

    .draggable-ship.rotated {
        transform: rotate(90deg);
    }

}

@media (hover: none) {
    .board,
    .drag-board {
        touch-action: pinch-zoom;
    }
}