@media (hover: none) {
    html {
        min-height: 100%;
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    html.dragging {
        overflow-y: hidden;
    }
    
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .title.hidden {
        display: none;
    } 

    .play-area {
        height: 95vh;
        margin-bottom: 5vh;
        width: 95vw;
        scroll-snap-align: start;
        flex-flow: column nowrap;
    }

    .play-area section {
        row-gap: 0px;
    }

    .board-fleet {
        flex-flow: row nowrap;
    }

    .sunk-fleet {
        margin-top: 0;
        margin-bottom: 0;
        height: 35vh;
        width: 85px;
        margin-left: 10px;
        flex-flow: column wrap;
        align-items: center;
        border: 1px solid var(--accent6)
    }

    .ship-part {
        background-color: transparent;
        width: 15px;
        height: 15px;
    }

    .announce-panel {
        width: 100vw;
        height: 1.5rem;
        line-height: 1.6rem;
        min-height: 3.5rem;
    }

    .subtitle {
        display: none;
    }

    .board {
        height: 35vh;
        width: 35vh;
        min-height: 200px;
        min-width: 200px;
    }

    .start-screen button,
    .ship-screen button,
    .game-announce button {
        width: 100px;
        padding: 20px 40px 20px 40px;
        margin-block: 20px;
    }

    .start-screen button,
    .ship-screen button {
        margin-inline: 10px;
    }

    .ship-screen {
        padding-top: 5vh;
        width: 95vw;
        height: 95vh;
    }


    .ship-screen button {
        display: inline-block;
    }

    .drag-board {
        height: 300px;
        width: 300px;
        margin-bottom: 2vh;
        margin-top: 3vh;
    }

    .draggable-ship.ship-render {
        will-change: transform, opacity;
        height: 30px;
        width: auto;
        position: absolute;
        display: flex;
        transform-origin: 15px 15px;
        transform: translate(-1px, -1px);
    }
    
    .draggable-ship.rotated {
        height: 30px;
        width: auto;
        flex-direction: row;
        transform: rotate(90deg);
    }


    .draggable-ship .ship-part {
        height: 30px;
        width: 30px;
    }

    .board,
    .drag-board {
        touch-action: pinch-zoom;
    }
}
